@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/* mixins */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

p, label, span, a, form, select, div, blockquote, cite, figure, figcaption, table, ul, ol, dl {
  line-height: normal;
  margin-bottom: 0px;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.1em;
  font-weight: 500;
  text-align: left;
  margin-bottom: .5em;
}

@media (max-width: 575px) {
  h2 {
    margin-bottom: .25em;
  }
}

.fs-07 {
  font-size: 0.7em;
}

.fs-075 {
  font-size: 0.75em;
}

.fs-08 {
  font-size: 0.8em;
}

.fs-09 {
  font-size: 0.9em;
}

.fs-11 {
  font-size: 1.1em;
}

.fs-12 {
  font-size: 1.2em;
}

.fs-13 {
  font-size: 1.3em;
}

.fs-14 {
  font-size: 1.4em;
}

.fs-15 {
  font-size: 1.5em;
}

.fs-16 {
  font-size: 1.6em;
}

.fs-17 {
  font-size: 1.7em;
}

.fs-18 {
  font-size: 1.8em;
}

.fs-19 {
  font-size: 1.9em;
}

.fs-20 {
  font-size: 2em;
}

.fs-25 {
  font-size: 2.5em;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.gray {
  color: #8D8D8D;
}

.blue {
  color: #0280B7;
}

.text-gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#F09819));
  background-image: linear-gradient(to right, #FF512F, #F09819);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* FORMS CUSTOMIZATION */
input,
textarea {
  background: #ffffff;
  border: 1px solid #8D8D8D;
  border-radius: 4px;
  padding: .6em .85em;
  width: 100%;
  line-height: normal;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: none;
  display: block;
}

input:-moz-placeholde,
textarea:-moz-placeholde {
  color: #8D8D8D;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #8D8D8D;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #8D8D8D;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #8D8D8D;
}

input::placeholder,
textarea::placeholder {
  color: #8D8D8D;
}

input[type="search"] {
  background-color: #F9F9F9;
  background-image: url(bg-imgs/search.png);
  background-repeat: no-repeat;
  background-position: .25em center;
  background-size: 1.6em;
  border: 1px solid #F9F9F9;
  border-radius: 10px;
  padding-left: 2em;
  width: 250px;
}

@media (max-width: 991px) {
  input[type="search"] {
    width: 200px;
  }
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6em 1em;
  border: none;
  border-radius: 10px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  line-height: normal;
  font-weight: 500;
}

@media (max-width: 575px) {
  .btn {
    border-radius: 4px;
  }
}

.btn-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(#F09819), color-stop(#F09819), to(#FF512F));
  background-image: linear-gradient(to right, #FF512F, #F09819, #F09819, #FF512F);
  background-size: 200% 100%;
  background-position: left center;
  background-repeat: no-repeat;
  color: #fff;
}

.btn-1:hover, .btn-1:focus, .btn-1:active {
  background-position: right center;
  color: #fff;
}

.btn-2 {
  --bg-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(#F09819), color-stop(#F09819), to(#FF512F));
  background-image: linear-gradient(to right, #FF512F, #F09819, #F09819, #FF512F);
  background-size: 200% 100%;
  background-position: left center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  z-index: 0;
}

.btn-2 span {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#F09819));
  background-image: linear-gradient(to right, #FF512F, #F09819);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.btn-2::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--bg-color);
  border-radius: 8px;
}

@media (max-width: 575px) {
  .btn-2::after {
    border-radius: 2px;
  }
}

.btn-3 {
  background-color: #F9F9F9;
}

.btn:disabled {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: .5;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #F9F9F9;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  min-height: 100vh;
}

@media (max-width: 1659px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 17px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

#root {
  position: relative;
  min-height: 100vh;
}

@media (max-width: 767px) {
  #root {
    padding: 50px 0px;
  }
}

@media (min-width: 1660px) {
  .container, .container-xl {
    width: 1596px;
    max-width: 1596px;
  }
}

@media (max-width: 1199px) {
  .container, .container-xl {
    padding: 0px;
  }
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  width: calc(100% + 25px);
  background: #F9F9F9;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px 0px 20px;
  margin-right: -25px;
  padding: 2em 25px 2em 0px;
  z-index: 1;
}

@media (max-width: 1659px) {
  aside {
    padding: 1em 25px .5em 0px;
  }
}

@media (max-width: 1199px) {
  aside {
    border-radius: 0px;
    min-height: 100%;
    width: 100%;
    padding: 1em 0px .5em 0px;
  }
}

aside .my-info {
  text-align: center;
}

aside .my-info .photo {
  width: 116px;
  height: 116px;
}

@media (max-width: 1199px) {
  aside .my-info .photo {
    width: 80px;
    height: 80px;
  }
}

aside nav ul {
  padding: 0px;
  list-style: none;
}

aside nav ul li:last-child {
  border-top: 2px solid #EAEAEA;
  padding-top: 1em;
  margin-top: 1em;
}

@media (max-width: 1659px) {
  aside nav ul li:last-child {
    padding-top: 0.5em;
    margin-top: 0.5em;
  }
}

@media (max-width: 1199px) {
  aside nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

aside nav ul a, aside nav ul button {
  font-size: 1em;
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: .75em 2.5em;
}

@media (max-width: 1659px) {
  aside nav ul a, aside nav ul button {
    padding: .5em 1.5em;
  }
}

@media (max-width: 1199px) {
  aside nav ul a, aside nav ul button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: .6em;
  }
}

aside nav ul a div, aside nav ul button div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1em;
}

@media (max-width: 1199px) {
  aside nav ul a div, aside nav ul button div {
    display: none;
  }
}

aside nav ul a span, aside nav ul button span {
  color: #8D8D8D;
}

@media (max-width: 1199px) {
  aside nav ul a span, aside nav ul button span {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: .7em;
    background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#F09819));
    background: linear-gradient(to right, #FF512F, #F09819);
    color: #fff;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

aside nav ul a img, aside nav ul button img {
  width: 1.3em;
  height: 1.3em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

aside nav ul a:hover div, aside nav ul button:hover div {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#F09819));
  background-image: linear-gradient(to right, #FF512F, #F09819);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

aside nav ul a:hover img, aside nav ul a.active img, aside nav ul button:hover img, aside nav ul button.active img {
  -o-object-position: center bottom;
     object-position: center bottom;
}

aside nav ul a.active::after, aside nav ul button.active::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #F77424;
}

@media (max-width: 1199px) {
  aside nav ul a.active::after, aside nav ul button.active::after {
    content: unset;
  }
}

.photo {
  --unit: 3px;
  --radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#F09819));
  background: linear-gradient(to right, #FF512F, #F09819);
  width: 100%;
  height: 100%;
  padding: var(--unit);
  border-radius: var(--radius);
}

.photo.empty {
  background: -webkit-gradient(linear, left top, right bottom, from(#FFAC68), to(#FF7188));
  background: linear-gradient(to bottom right, #FFAC68, #FF7188);
}

@media (max-width: 1199px) {
  .photo {
    --unit: 2px;
    --radius: 18px;
  }
}

@media (max-width: 575px) {
  .photo {
    --unit: 1px;
    --radius: 10px;
  }
}

.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: calc(var(--unit)*2);
  background: #F9F9F9;
  border-radius: calc(var(--radius) - var(--unit));
}

.photo svg {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: calc(var(--radius) - var(--unit));
}

.brief-stat {
  text-align: center;
}

.brief-stat hr {
  width: 2px;
  background-color: #EAEAEA;
  height: auto !important;
  opacity: 1;
  margin: 0px;
}

main {
  position: relative;
  z-index: 2;
  background-color: #fff;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 2.5em 5em;
}

@media (max-width: 1659px) {
  main {
    padding: 2em 2.5em;
  }
}

@media (max-width: 1399px) {
  main {
    padding: 1.5em;
  }
}

@media (max-width: 1199px) {
  main {
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  main {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

@media (max-width: 575px) {
  main {
    padding: 1em 0;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

@media (max-width: 991px) {
  header {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 767px) {
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 4.00052px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 4.00052px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    padding: 0 1.5em;
    height: 50px;
    width: 100%;
  }
}

header a {
  position: relative;
}

header a img {
  width: 1.3em;
  height: 1.3em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

header a .indicator {
  position: absolute;
  top: -.2em;
  right: -.2em;
  width: 0.65em;
  height: .65em;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#F09819));
  background: linear-gradient(to right, #FF512F, #F09819);
  opacity: 0;
}

header a .indicator.active {
  opacity: 1;
}

header a:hover img, header a.active img {
  -o-object-position: center bottom;
     object-position: center bottom;
}

.user-info .mob-photo {
  margin-left: 1em;
}

.user-info .mob-photo img {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.user-info .mob-photo.empty {
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFAC68), to(#FF7188));
  background: linear-gradient(to bottom right, #FFAC68, #FF7188);
  width: 90px;
  height: 90px;
  padding: 4px;
  border-radius: 20px;
}

.user-info .mob-photo.empty svg, .user-info .mob-photo.empty img {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 16px;
}

.user-info .photo {
  --unit: 10px;
  --radius: 80px;
  height: 390px;
}

@media (max-width: 1659px) {
  .user-info .photo {
    height: 350px;
  }
}

@media (max-width: 1399px) {
  .user-info .photo {
    height: 310px;
  }
}

@media (max-width: 1199px) {
  .user-info .photo {
    --unit: 8px;
    --radius: 60px;
    height: 31vw;
  }
}

@media (max-width: 991px) {
  .user-info .photo {
    --unit: 6px;
    --radius: 45px;
    height: 30vw;
  }
}

@media (max-width: 767px) {
  .user-info .photo {
    height: 36vw;
  }
}

.user-info .about-yourself {
  line-height: 1.5em;
}

@media (max-width: 575px) {
  .user-info .about-yourself {
    line-height: 1.25em;
    font-weight: 400;
  }
}

.user-info .about-yourself .more {
  color: #8D8D8D;
}

.topical {
  --size: 100px;
  position: relative;
}

@media (min-width: 768px) {
  .topical {
    padding: 0 3em !important;
  }
}

@media (max-width: 1199px) {
  .topical {
    --size: 80px;
  }
}

@media (max-width: 575px) {
  .topical {
    --size: 50px;
  }
}

.topical.my-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .topical.my-profile {
    padding: 0 3em 0 0 !important;
  }
}

.topical.my-profile .swiper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.topical.my-profile .swiper .swiper-button-prev {
  display: none;
}

.topical .btn-add {
  width: var(--size);
}

.topical .btn-add .photo {
  height: var(--size);
  width: var(--size);
}

.topical .btn-add .photo .wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: calc(var(--radius) - var(--unit));
}

.topical .btn-add .photo .wrapper svg {
  width: 1.5em;
  height: 1.5em;
  fill: none;
}

.topical .btn-add .title {
  font-size: .8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

@media (max-width: 575px) {
  .topical .btn-add .title {
    font-size: .7em;
  }
}

.topical .swiper {
  position: unset;
}

.topical .swiper .swiper-button-next, .topical .swiper .swiper-button-prev {
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#F09819));
  background: linear-gradient(to right, #FF512F, #F09819);
  color: #fff;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin: 0px;
  top: calc(50px - 1.25em);
}

@media (max-width: 767px) {
  .topical .swiper .swiper-button-next, .topical .swiper .swiper-button-prev {
    display: none;
  }
}

.topical .swiper .swiper-button-next:after, .topical .swiper .swiper-button-prev:after {
  font-size: 1em;
}

.topical .swiper .swiper-button-prev {
  left: 0px;
}

.topical .swiper .swiper-button-next {
  right: 0px;
}

.topical .swiper .swiper-slide {
  width: var(--size);
  text-align: center;
}

@media (max-width: 1199px) {
  .topical .swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.topical .swiper .swiper-slide .photo {
  height: var(--size);
  width: var(--size);
}

.topical .swiper .swiper-slide .title {
  font-size: .8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

@media (max-width: 575px) {
  .topical .swiper .swiper-slide .title {
    font-size: .7em;
  }
}

.publications .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #EAEAEA;
  margin-bottom: 1em;
}

@media (max-width: 767px) {
  .publications .btn-group {
    border-top: none;
    border-bottom: 1px solid #EAEAEA;
  }
}

.publications .btn-group button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: .5em;
}

@media (max-width: 767px) {
  .publications .btn-group button {
    padding-top: 0;
    padding-bottom: .5em;
  }
}

@media (max-width: 575px) {
  .publications .btn-group button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.publications .btn-group button svg {
  width: 1.4em;
  height: 1.4em;
}

.publications .btn-group button svg path {
  fill: #8D8D8D;
}

.publications .btn-group button.active {
  position: relative;
}

.publications .btn-group button.active::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF512F), to(#F09819));
  background-image: linear-gradient(to top, #FF512F, #F09819);
}

@media (max-width: 767px) {
  .publications .btn-group button.active::before {
    top: unset;
    bottom: -1px;
    height: 2px;
  }
}

.publications .btn-group button.active svg path {
  fill: url(#gradient);
}

.publications .post {
  width: 100%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 1659px) {
  .publications .post {
    height: 270px;
  }
}

@media (max-width: 1399px) {
  .publications .post {
    height: 240px;
  }
}

@media (max-width: 1199px) {
  .publications .post {
    height: 24vw;
  }
}

@media (max-width: 767px) {
  .publications .post {
    height: 30vw;
    border-radius: 0px;
  }
}

@media (max-width: 575px) {
  .publications .post {
    height: 27vw;
  }
}

.publications .video {
  width: 100%;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 1659px) {
  .publications .video {
    height: 360px;
  }
}

@media (max-width: 1399px) {
  .publications .video {
    height: 330px;
  }
}

@media (max-width: 1199px) {
  .publications .video {
    height: 33vw;
  }
}

@media (max-width: 767px) {
  .publications .video {
    height: 40vw;
    border-radius: 0px;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  height: 50px;
  width: 100%;
  padding: 0 1.5em;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10.0013px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10.0013px rgba(0, 0, 0, 0.1);
}

footer nav {
  width: 100%;
  height: 100%;
}

footer nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  footer nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer nav ul li a img {
  width: 1.5em;
  height: 1.5em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

footer nav ul li a.active img {
  -o-object-position: center bottom;
     object-position: center bottom;
}

footer nav ul li:last-child a img {
  width: 1.75em;
  height: 1.75em;
  -o-object-position: center !important;
     object-position: center !important;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */